name: Deploy

on:
  push:
    branches:[develop]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Deploy
      run: echo "Add your deployment commands here"